<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="<?php echo $meta_description; ?>" />
        <meta name="keywords" content="<?php echo $meta_keywords; ?>">

        <meta name="google-site-verification" content="<?php echo $google_verification_code; ?>" />
        <!-- zanox verification code -->
        <meta name="verification" content="<?php echo $zanox_verification_code; ?>"/>

        <!-- google+ share details -->
        <meta itemprop="name" content="<?php echo $meta_title; ?>">
        <meta itemprop="description" content="<?php echo $meta_description; ?>">
        <meta itemprop="image" content="<?php echo $meta_image; ?>">

        <!-- facebook metatags -->
        <meta property="og:title" content="<?php echo $meta_title; ?>" />
        <meta property="og:site_name" content="Presentation"/>
        <meta property="og:url" content="<?php echo $meta_url; ?>"/>
        <meta property="og:description" content="<?php echo $meta_description; ?>"/>
        <meta property="og:image" content="<?php echo $meta_image; ?>"/>
        <?php if (isset($is_product_view) && $is_product_view === true) { ?>
            <!-- pinterest product metatags -->
            <meta property="og:type" content="product"/>
            <?php if (isset($meta_color_name)) { ?>
                <meta property="og:product:color" content="<?php echo $meta_color_name; ?>"/>
            <?php } ?>
            <?php if (isset($data['similar_urls']) && is_array($data['similar_urls'])) { ?>
                <?php foreach ($data['similar_urls'] as $similarFullUrl) { ?>
                    <?php if (isset($similarFullUrl) && !empty($similarFullUrl)) { ?>
                        <meta property="og:see_also" content="<?php echo $similarFullUrl; ?>"/>
                    <?php } ?>
                <?php } ?>
            <?php } ?>
            <?php if (isset($meta_product_price)) { ?>
                    <meta property="og:price:amount" content="<?php echo $meta_product_price; ?>"/>
                    <meta property="og:price:currency" content="<?php echo $meta_price_currency; ?>"/>
            <?php } ?>
        <?php } else { ?>
            <meta property="og:type" content="article"/>
        <?php } ?>

        <meta property="og:locale" content="en_US"/>

        <!--    twitter metatags-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@software-consult.ro">
        <meta name="twitter:creator" content="@software-consult.ro">
        <meta name="twitter:title" content="<?php echo $meta_title; ?>">
        <meta name="twitter:description" content="<?php echo $meta_description; ?>">
        <meta name="twitter:image:src" content="<?php echo $meta_image; ?>">

        <meta name="p:domain_verify" content="d214f8261ec9a69f558cc12326db4827"/>

        <?php if (isset($noIndex) && $noIndex) { ?>
            <meta name="robots" content="noindex">
            <meta name="googlebot" content="noindex">
        <?php } ?>

        <?php if(isset($meta_cannonical_url)){ echo '<link rel="canonical" href="'.$meta_cannonical_url.'" />'; } ?>

        <?php echo $this->tag->gettitle(); ?>
        <?php echo $this->assets->outputCss('css_head'); ?>
        <?php echo $this->assets->outputCss('css_head_' . $controllerName); ?>
        <?php echo $this->assets->outputCss('css_head_' . $controllerName . '_' . $actionName); ?>
        <?php echo $this->assets->outputJs('js_head'); ?>
        <?php echo $this->assets->outputJs('js_head_cdn'); ?>
        <?php echo $this->assets->outputJs('js_head_common'); ?>
        <?php echo $this->assets->outputJs('js_head_' . $controllerName . '_' . $actionName); ?>

        <!--[if lt IE 10]>
            <script>var LTEIE10 = true;</script>
        <![endif]-->
    </head>

    <body data-ng-app="App" class="jsDisabled <?php echo APP_ENV; ?>">
        <?php echo $this->assets->outputJs('js_body_first'); ?>
        <?php echo $this->assets->outputJs('js_body_first_' . $controllerName . '_' . $actionName); ?>
        <?php echo $this->assets->outputCss('css_body_first_' . $controllerName . '_' . $actionName); ?>
        <div class="PageWrapper" data-ng-controller="applicationWrapperController"  data-ng-init="init()">
            <div id="header"><?php echo $this->partial('partials/header'); ?></div>
            <div class="clear-fix"></div>
            <div id="wrapper">
                <!-- /.navbar-collapse -->
                <div id="loader"></div>
                <div id="page-wrapper" class="row" ><!-- data-ng-controller="errorController" -->
                    <?php echo $this->getContent(); ?>
                </div>
				<div id="banners-right-side-zone" class="banner-wrapper" banner="7" close-banner="1"></div>
                <?php echo $this->partial('partials/forgot-password');?>
                <?php echo $this->partial('partials/login-popup');?>
                <?php echo $this->partial('partials/fashion-advice');?>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            <div id="footer" class="stickyFooter">
                <?php echo $this->partial('partials/footer');?>
            </div>
            <!-- JavaScript -->

            <!-- -->

            <!-- Add js configs-->
            <?php echo $__configs; ?>
            <!-- Add js translations text-->
            <?php echo $__translations; ?>
            <!-- Add js routes text-->
            <?php echo $__routes; ?>
        </div>
        <?php echo $this->assets->outputJs('js_body_last'); ?>
        <?php echo $this->assets->outputJs('js_body_last_' . $controllerName . '_' . $actionName); ?>
        <?php echo $this->assets->outputCss('css_body_last_' . $controllerName . '_' . $actionName); ?>
    </body>
</html>
