<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background: #eee; width: 100%; color: #4d4d4d; font-family: Helvetica, Arial, sans-serif;">
<div style="background: #eee; width: 100%; padding: 10px 0; ">
    <div style="
        background: #fff;
        padding: 20px;
        max-width: 720px;
        width: 100%;
         margin: 10px auto;
        text-align: left;
        font-family: Helvetica, Arial, sans-serif;
        word-break: break-word;
        ">
        <?php echo $this->partial('partials/mail-header', array('baseUri' => $baseUri)); ?>
        <?php echo $this->getContent(); ?>
        <?php echo $this->partial('partials/mail-footer', array('baseUri' => $baseUri)); ?>
    </div>
    <?php echo $this->partial('partials/mail-after-footer', array('baseUri' => $baseUri, 'newsletterToken' => (isset($newsletterToken) ? $newsletterToken : ''))); ?>
</div>
</body>
</html>