<?php
/**
 * @author  software-consult.ro <contact@software-consult.ro>
 * @version 0.1.0 2015-11-24
 */
?>

<div>
    <div>
        <?php echo $translate->_('helloUsername', array('username' => $name)); ?>,
    </div>
    <br/>
    <div>
        <?php
            echo $translate->_('mails.sendStyleAdviceReplyToUser.body', array(
                'question'  => $question,
                'response'  => $response
            ));
        ?>
    </div>
</div>
