<?php
/**
 * @author  software-consult.ro <contact@software-consult.ro>
 * @version 0.1.0 2016-03-02
 */
?>

<div>
    <div>
        <?php
            echo $translate->_('mails.sendStyleAdviceActivated.body', array(
                'name'      => $name,
                'question'  => $question
            ));
        ?>
    </div>
</div>
