<?php
/**
 * @author  software-consult.ro <contact@software-consult.ro>
 * @version 0.1.0 2016-03-01
 */
?>

<div>
    <div>
        <?php
            echo $translate->_('mails.sendStyleAdviceInitiatedToAdmin.body', array(
                'email'     => $email,
                'adviser'  => $adviser,
                'question' => $question
            ));
        ?>
    </div>
</div>
