<div class="footer" style="margin-top: 40px;">
    <div style="width: 100%; text-align: center; margin-bottom: 10px;"><?php echo $translate->_('footer.letsGetSocial')?></div>
    <div style="width: 100%; text-align: center;">
        <a target="_blank" href="https://www.facebook.com/" style="text-decoration: none;">
            <img alt=" on facebook" src="<?php echo $baseUri; ?>/files/mails/icons/facebook.png" />
        </a> <a target="_blank" href="https://twitter.com/software-consult.ro" style="text-decoration: none;">
            <img alt=" on twitter" src="<?php echo $baseUri; ?>/files/mails/icons/twitter.png" />
        </a>
        <a target="_blank" href="https://plus.google.com/u/0/+" style="text-decoration: none;">
            <img alt=" on google+" src="<?php echo $baseUri; ?>/files/mails/icons/google.png" />
        </a> <a target="_blank" href="<?php echo $url->get(array('for' => 'blog/feed')); ?>" style="text-decoration: none;">
            <img alt=" rss feed" src="<?php echo $baseUri; ?>/files/mails/icons/rss.png" />
        </a> <a target="_blank" href="https://instagram.com/" style="text-decoration: none;">
            <img alt=" on instagram" src="<?php echo $baseUri; ?>/files/mails/icons/instagram.png" />
        </a> <a target="_blank" href="http://presentation.tumblr.com/" style="text-decoration: none;">
            <img alt=" on tumblr" src="<?php echo $baseUri; ?>/files/mails/icons/tumblr.png" />
        </a> <a target="_blank" href="https://www.pinterest.com/" style="text-decoration: none;">
            <img alt=" on pinterest" src="<?php echo $baseUri; ?>/files/mails/icons/pinterest.png" />
        </a>
    </div>
</div>
