<div style="text-align: center; font-size: 11px; max-width: 720px; padding: 0px; margin: 0px auto;">
    <p>
        <?php echo $translate->_(
            'mails.footer',
            array(
                'linkStart'=> '<a title="' . $translate->_('unsubscribe') . '" href="' . $url->get(array('for' => URL_UNSUBSCRIBE_NEWSLETTER, 'token' => $newsletterToken)) . '">',
                'linkEnd' => '</a>'
            )
        ); ?>
    </p>
</div>